<h1> Success </h1>


Payment status : <%=  @session_with_expand.payment_status %>
<br>
Total cost : <%=  @session_with_expand.amount_subtotal/100.to_f %>
                 <%=  @session_with_expand.currency %>

<%# if params[:session_id].present? %>
  <%# <% @status =  Stripe::Checkout::Session.retrieve(params[:session_id]).payment_status %>
  <%# <% @session =  Stripe::Checkout::Session.retrieve(params[:session_id]) %> 

  <%# @session %>
 
  <%# @status %>
  
  <%# @session.payment_intent %>
   
  <%# Stripe::PaymentIntent.retrieve(@session.payment_intent)%>
   
  <%# <% @session_with_expand = Stripe::Checkout::Session.retrieve({
    id: params[:session_id],
    expand: ["payment_intent", "line_items"]
  })%>  

  <%# @session_with_expand.line_items %>

  <hr>

  <%# @session_with_expand.line_items.data.each do |line_item| %>
    <p><%# line_item.id %></p>
    <p><%# line_item.amount_subtotal %></p>
    <p><%# line_item.price %></p>
    <p><%# line_item.price.product %></p>
  <%# end %>

<%# end %>
<h3> Transaction details </h3>

<% @session_with_expand.line_items.data.each do |line_item| %>
  <% product = Product.find_by(stripe_product_id: line_item.price.product) %>
  <%= product.name %> <br>
<% end %>

<h3> Thanks for shopping with us </h3>